---
---

<!-- just a redirect for now -->

<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/cars/" />
  </head>
  <body>
    <p>Redirecting to <a href="/cars/">cars page</a>...</p>
  </body>
</html>